[submodule "source/api/startupInn-text-description-endpoint"]
	path = source/api/startupInn-text-description-endpoint
	url = https://github.com/CodeDroid999/startupInn-text-description-endpoint.git
[submodule "source/api/texty"]
	path = source/api/texty
	url = https://github.com/CodeDroid999/texty.git
